@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


.bodyd{
    background-color: hsl(0, 100%, 74%);
    align-items: center;
    display: flex;
    flex-direction: row;
    /* background-image: url(../img/reg.jpg); */
    opacity: 70%;
    
}
.family{
    color: white;
    margin-bottom: 3rem;
    margin-left: 5rem;

}
.h1{
    color: white; 
  font-weight: 500;
}
 .second-body{
    align-items: center;

 }  


.sibling{
    color: white;
    border: 2px solid hsl(248, 32%, 49%);
    margin-bottom: 4rem;
    background-color: hsl(248, 32%, 49%);
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 7rem;
    width: 64%;
    margin-top: 2rem;
    margin-right: 5rem;
    padding: 1rem;
    line-height: 1rem;

}
.formm{
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 5rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    width: 70%;
    margin-left: 7rem;
}
input{
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    width: 70%;
    margin-left: 0.5rem;
}
.subb{
    background-color: greenyellow;
    width: 80%;
}
.link{
    color: red;

}
@media only screen and (max-width:760px) {
    .bodyd{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
         
    }
    .family{
        margin: auto;
        padding-left: 5rem;
        
    }
    .second-body
    {
        text-align: center;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-right: 30rem;
    }
    
}
