*
{
padding: 0;
margin: 0;
}



.bodyd{
   
    background-color: hsl(300, 69%, 71%); 
    background-image: url(../images/bg-desktop.svg);
    background-blend-mode: multiply;
    padding-bottom: 6rem;
}
.container{
    color: white;
    flex-direction: row;
    display: flex;
 }
 .first{
    margin-top: 2rem;
    padding-left: 5rem;
    text-decoration: none;
    border: none;
    
 } 
 .active{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: xx-large;
    font-weight: 20px;
    color: white;
    word-spacing: 8px;
    text-decoration: none;
    padding-left: 2rem;
   
 } 
 .passive {
    text-align: left;
 }
 .passive img {
    width: 500px;
 }
 
 .second{
    margin-left: 6rem;
    width: 45%;
    margin-top: 10rem;
    
    
 }
 .sibling h1{
padding-bottom: 1rem;
font-weight: 20px;
font-size: x-large;
 }
 .sibling p{
    padding-bottom: 1rem;
    font-weight: 300;
    font-size: large;
    word-spacing: 1px;
 }
 .subb{
    background-color: white;
    width: 70%;
    border-color: white;
    box-shadow: none;
    height: 50px;
    color: magenta;
    font-size: small;
    font-weight: 500;
    border-radius: 2rem;
    margin-bottom: 3rem;
}
.icons{
    display: flex;
    width: 50px;
    font-size: 24px;
    padding-left: 1.5rem;
    justify-content: space-between;
    
    
       
}
.face{
    /* border-radius: 50%; */
    /* border: 2px solid #fff; */
    padding: 0.5rem;

}
.icons i {
margin: 4px;
}



@media only screen and (max-width:760px) {
    .bodyd{
        background-image: url(../images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%); 
        background-size: cover;
        padding-bottom: 8rem;
    }
    .container{
    display: flex;
    flex-direction: column;   
    }
    .first
    {
        padding-left: 0.5rem;
        margin: auto;
        padding-top: 2rem;
        
    }
.second{
    margin: auto;
    width: 150px;
    text-align: center;
    height: 500px;
    padding-top: 3rem;
}

.subb{
    width: 200px;
}
.passive img {
    width: 80%;
}
.passive {
    text-align: center;
}
}
